@model IEnumerable<Your_Money.Models.Lancamento>

@{
    ViewData["Title"] = "Relatorio";
    var lancamentosMes = ViewBag.LancamentosMes as Dictionary<int, (int receitasMes, int despesasMes)>;
}

<nav>
    <ol class="breadcrumb p-0 pt-0 pb-3" style="background: white;">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Usuarios" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Relatório</li>
    </ol>
</nav>

<div class="d-flex justify-content-center">
    <div class="container-fluid pt-5 pb-3" style="background-image:url(/blue2.png);">
        <div class="row align-self-center">
            <div class="col-sm-9 align-self-center p-2">
                <h2 style="color:darkblue;">Visão Global</h2>
                <h6 style="color:black;">
                    Saldo total do Ano:
                    <b>
                        <span style="color: @(ViewBag.SaldoTotalAno < 0 ? "red" : "green")">
                            @ViewBag.SaldoTotalAno.ToString("C")
                        </span>
                    </b>
                </h6>
            </div>
            <form asp-action="Relatorio" method="get" class="form-row justify-content-center">
                <label class="control-label" style="color:darkblue;"><b>Ano</b></label>
                <input type="number" name="ano" class="form-control shadow-sm" required style="color:darkblue;width:70%;"
                       Placeholder="Digite o ano" />
                <div style="padding-top:10px;">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
    <canvas id="grafico1" style="width:300px; height:100px;padding-top:30px;padding-bottom:50px;"></canvas>
</div>

<script>

    var data = {
        labels: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
        datasets: [{
            label: 'Receitas',
            data: [@lancamentosMes[1].receitasMes,
                    @lancamentosMes[2].receitasMes,
                    @lancamentosMes[3].receitasMes,
                    @lancamentosMes[4].receitasMes,
                    @lancamentosMes[5].receitasMes,
                    @lancamentosMes[6].receitasMes,
                    @lancamentosMes[7].receitasMes,
                    @lancamentosMes[8].receitasMes,
                    @lancamentosMes[9].receitasMes,
                    @lancamentosMes[10].receitasMes,
                    @lancamentosMes[11].receitasMes,
                    @lancamentosMes[12].receitasMes],
            borderWidth: 1,
            backgroundColor: ['lightgreen'],
        },
        {
            label: 'Despesa',
            data: [@lancamentosMes[1].despesasMes,
                    @lancamentosMes[2].despesasMes,
                    @lancamentosMes[3].despesasMes,
                    @lancamentosMes[4].despesasMes,
                    @lancamentosMes[5].despesasMes,
                    @lancamentosMes[6].despesasMes,
                    @lancamentosMes[7].despesasMes,
                    @lancamentosMes[8].despesasMes,
                    @lancamentosMes[9].despesasMes,
                    @lancamentosMes[10].despesasMes,
                    @lancamentosMes[11].despesasMes,
                    @lancamentosMes[12].despesasMes],
            borderWidth: 1,
            backgroundColor: ['indianred'],
        }
        ]
    };

    var config = {
        type: 'bar',
        data,
        options: {
            scales: {
                y: {
                    beginAtZero: false,
                    grid: {
                        drawOnChartArea: false
                    }
                }
            },
            plugins: {
                legend: {
                    labels: {
                        font: {
                            size: 18
                        }
                    }
                },
                indexAxis: 'x'
            }
        }
    };

    var myChart = new Chart(
        document.getElementById('grafico1'),
        config
    );

</script>

<hr>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="d-flex justify-content-center">

    <div class="container-fluid pt-5 pb-3" style="background-image:url(/blue2.png);">

        <div class="row align-self-center">

            <div class="col-sm-9 align-self-center p-2">
                <h2 style="color:darkblue;">Detalhamento</h2>
            </div>

            <div class="col-sm align-self-center">
                <form asp-action="Relatorio" method="get" class="form-row justify-content-center">
                    <div class="col-sm align-self-center">
                        <label class="control-label" style="color:darkblue;"><b>Mês</b></label>
                        <select name="mes" class="form-control shadow-sm" required style="color:darkblue;width:70%;">
                            <option value="@ViewBag.MesAtual">Mês Atual</option>
                            <option value="1">Janeiro</option>
                            <option value="2">Fevereiro</option>
                            <option value="3">Março</option>
                            <option value="4">Abril</option>
                            <option value="5">Maio</option>
                            <option value="6">Junho</option>
                            <option value="7">Julho</option>
                            <option value="8">Agosto</option>
                            <option value="9">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                    </div>

                    <label class="control-label" style="color:darkblue;"><b>Ano</b></label>
                    <input type="number" name="ano" class="form-control shadow-sm" required style="color:darkblue;width:70%;"
                           Placeholder="Digite o ano" />
                    

                    <div style="padding-top:10px;">
                        <button class="btn btn-primary">Pesquisar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<hr>

<div class="container">
    <div class="row">

        <div class="col">

            <canvas id="grafico2" style="height:200px;width:70%;padding-bottom:50px;"></canvas>

            <script>
                var data = {
                    labels: ['Salário', 'Investimentos', 'Outros'],
                    datasets: [{
                        label: 'Receitas',
                        data: [@ViewBag.SalarioReceita,
                @ViewBag.InvestimentosReceita,
                @ViewBag.OutrosReceita],
                        borderWidth: 1,
                        backgroundColor: ['lightgreen'],
                    },
                    ]
                };
                var config = {
                    type: 'bar',
                    data,
                    options: {
                        scales: {
                            y: {
                                beginAtZero: true,
                                grid: {
                                    drawOnChartArea: false
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 18
                                    }
                                }
                            },
                            indexAxis: 'x'
                        }
                    }
                };

                var myChart = new Chart(
                    document.getElementById('grafico2'),
                    config
                );

            </script>
        </div>

        <div class="col">

            <canvas id="grafico3" style="height:200px;width:70%;padding-bottom:50px;"></canvas>

            <script>
                var data = {
                    labels: ['Alimentação',
                        'Educação',
                        'Empréstimos',
                        'Entretenimento',
                        'Eventos',
                        'Impostos',
                        'Imprevistos',
                        'Investimentos',
                        'Moradia',
                        'Saúde',
                        'Seguros',
                        'Taxas',
                        'Transporte',
                        'Veículo',
                        'Vestuário',
                        'Outros'],
                    datasets: [{
                        label: 'Despesas',
                        data: [@ViewBag.AlimentacaoDespesa,
                @ViewBag.EducacaoDespesa,
                @ViewBag.EmprestimoDespesa,
                @ViewBag.EntretenimentoDespesa,
                @ViewBag.EventosDespesa,
                @ViewBag.ImpostoDespesa,
                @ViewBag.ImprevistosDespesa,
                @ViewBag.InvestimentosDespesa,
                @ViewBag.MoradiaDespesa,
                @ViewBag.SaudeDespesa,
                @ViewBag.SegurosDespesa,
                @ViewBag.TaxaDespesa,
                @ViewBag.TransporteDespesa,
                @ViewBag.VeiculoDespesa,
                @ViewBag.VestuarioDespesa,
                @ViewBag.OutrosDespesa],
                        borderWidth: 1,
                        backgroundColor: ['indianred'],
                    },
                    ]
                };
                var config = {
                    type: 'bar',
                    data,
                    options: {
                        scales: {
                            y: {
                                beginAtZero: false,
                                grid: {
                                    drawOnChartArea: false
                                }
                            }
                        },
                        plugins: {
                            legend: {
                                labels: {
                                    font: {
                                        size: 18
                                    }
                                }
                            },
                            indexAxis: 'x'
                        }
                    }
                };

                var myChart = new Chart(
                    document.getElementById('grafico3'),
                    config
                );


            </script>
        </div>

    </div>
</div>


<div style="padding-top:10px;">
    <hr>
    <h5 style="color:darkblue;padding-top:20px;padding-bottom:20px;"> Descritivo dos Lançamentos </h5>

    <table class="table table-striped table-hover" id="tabela2-lancamentos" style="text-align:center;padding-top:20px;">
        <thead>
            <tr style="background-color:aliceblue">
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Tipo)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Via)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Classificacao)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Valor)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Data)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th style="text-align:center;">
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th style="text-align:center;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(c => c.Data))
            {
                <tr>
                    <td>
                        @if (item.Tipo == Transacao.Receita)
                        {
                            <span class="text-success">@Html.DisplayFor(modelItem => item.Tipo)</span>
                        }
                        else if (item.Tipo == Transacao.Despesa)
                        {
                            <span class="text-danger">@Html.DisplayFor(modelItem => item.Tipo)</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Tipo)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Via)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Classificacao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Valor)
                    </td>
                    <td>
                        @item.Data.ToString("dd/MM/yyyy")
                    </td>
                    <td>
                        @if (item.Status == StatusTransacao.Pendente)
                        {
                            <span class="alert alert-danger">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                        else if (item.Status == StatusTransacao.Efetivado)
                        {
                            <span class="alert alert-success">@Html.DisplayFor(modelItem => item.Status)</span>
                        }
                        else
                        {
                            @Html.DisplayFor(modelItem => item.Status)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" style="padding-right:5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                            </svg>
                        </a> <h7 class="text-info"> | </h7>
                        <a asp-action="Delete" asp-route-id="@item.Id" style="padding-left:5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z" />
                                <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z" />
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>